@model MobiWifiApp.CmxObservations

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>CmxObservations</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Clientmac)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clientmac)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ipv4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ipv4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ipv6)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ipv6)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Seentime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seentime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ssid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ssid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rssi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rssi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Os)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Os)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LocationLat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationLat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LocationLng)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationLng)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LocationUnc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationUnc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.Type)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
