@model IEnumerable<MobiWifiApp.Models.CmxObservationsLite>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Clientmac)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ipv4)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Seenyear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Seenmonth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Seenday)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Seenhour)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Seenminute)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ssid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Manufacturer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Os)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Eventid)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Clientmac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ipv4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seenyear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seenmonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seenday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seenhour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seenminute)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ssid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Os)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eventid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
